<tr>
  <td>
    <%= image_tag product.image, width: '120px' %>
  </td>
  <td>
    <h4><%= line_item.product.name %></h4>
    <br>
    <%= line_item.product.description %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= number_to_currency(line_item.product.price * line_item.quantity) %>
  </td>
</tr>