<section class="orders-show">

  <header class="page-header">
    <h2>Order #<%= @order.id %></h2>
  </header>

  <div class="order-summary jumbotron">
    <h4 style ="text-align:center">Thank you for your order!</h4>

    <table class="table">
      <thead>
        <tr>
          <th colspan="2"></th>
          <th>Qty</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: "line_item", collection: @line_items %>
      </tbody>
    </table>

    <hr>
    <p style ="text-align:right; font-size: 16px">Order total: <%= number_to_currency(@order.total_cents / 100)%></p>
    <hr>
    <p style ="text-align:center; font-size: 16px">A confirmation email has been sent to: <%= @order.email %></p>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>


