<section class="products-show">

  <header class="page-header">
    <p><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></p>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">

          <dd><h2><%= @product.name %></h2></dd>
          <br>
          <dd><strong><h4>Description</h4></strong></dd>
          <dd><%= @product.description %></dd>
          <br>
          <dd><strong><h5><%= @product.quantity %> left in stock</h5></strong></dd>
          <br>
          <dd><strong><h4>Price</h4></strong></dd>
          <dd>$<%= @product.price %></dd>
          <br>
          <dd><%= link_to add_item_cart_path(product_id: @product.id), class: 'btn btn-primary', method: :put do %>
            <%= fa_icon "shopping-cart", text: 'Add to Cart' %>
          <% end %></dd>

          <dd></dd>
          <dd></dd>

          <dd>
            <% if current_user %>
              <section class="review-new">
              <header class="page-header">
                <h4>Leave a review</h4>
              </header>
                <div class="row">
                  <div class="col-sm-6 col-sm">
                    <%= form_for [@product, @review] do |form| %>

                      <div class="form-group">
                        <%= form.label :rating %><br>
                        <%= form.select :rating, ['1', '2', '3', '4', '5'], class: 'form-control' %>
                      </div>

                      <div class="form-group">
                        <%= form.label :description %><br>
                        <%= form.text_area :description, class: 'form-control'%>
                      </div>

                      <%= form.submit 'Review', class: 'btn btn-primary' %>
                    <% end %>
                  </div>
                </div>
              </section>
            <% end %>
          </dd>

        </dl>
      </div>
    </div>
  </article>

  <br><br><br>
  <div style = "text-align: center">
    <h3 style = "text-align: center">Customer Reviews</h3>
    Average Rating:
    <span class="badge badge-pill badge-primary"><%= @product.reviews.average(:rating).to_i %></span>
  </div>

  <table class="table reviews">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col" colspan="2">Description</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'review', collection: @product.reviews.order(created_at: :desc) %>
    </tbody>
  </table>

</section>
